# NVSS query test

In [20]:
# imports
import numpy as np
from astropy.coordinates import SkyCoord
from astropy import units

from astroquery.heasarc import Heasarc

## Test coord

In [15]:
coord = SkyCoord(ra=0.000375, dec=-34.11930556, unit='deg')

## Init

In [16]:
heasarc = Heasarc()

## Missions

In [6]:
missions = heasarc.query_mission_list()

In [11]:
np.sum(missions['name'] == 'nvss')

1

## Query me

In [17]:
table = heasarc.query_region(coord, mission='nvss', radius='1 arcminute')

In [18]:
table

<Table length=1>
        NAME        ...                   SEARCH_OFFSET_
                    ...
      bytes19       ...                      bytes49
------------------- ... -------------------------------------------------
NVSS J000000-340709 ... 0.000 (0.0003776157961756126,-34.11930303225884)

----

In [21]:
tst_coord = SkyCoord('J081240.68+320809.0', unit=(units.hourangle, units.deg))

In [34]:
table = heasarc.query_region(tst_coord, mission='nvss', radius='1 arcmin')

In [35]:
table

<Table length=1>
        NAME            RA    ...                 SEARCH_OFFSET_
                      DEGREE  ...
      bytes19        float64  ...                    bytes46
------------------- --------- ... ----------------------------------------------
NVSS J081240+320801 123.16742 ... 0.170 (123.16950579044646,32.135827323283664)

In [26]:
tst_coord

<SkyCoord (ICRS): (ra, dec) in deg
    (123.1695, 32.13583333)>

In [29]:
tst_coord.separation(SkyCoord(ra=123.16742, dec=32.13351, unit='deg')).to('arcmin')

In [33]:
table.meta

OrderedDict([('', ['', '']),
             ('EXTNAME', 'NVSS'),
             ('TABLE', 'HEASARC_NVSS'),
             ('TAB_DESC', 'NRAO VLA SKY SURVEY CATALOG'),
             ('TAB_URL',
              'HTTP://HEASARC.GSFC.NASA.GOV/W3BROWSE/RADIO-CATALOG/NVSS.HTML'),
             ('radius', 1.0)])